/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


.page-container {
  margin: 20px;
}

.page-title-container {
  margin: 20px 0;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.page-title-text {
  font-size: 20px;
}

.page-content-container {
  margin: 20px 0;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
