<h2>Add a new utility cost payments for {{ involvedPerson().name }}</h2>

<div class="form-container">
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input id="amount" type="number"/>
  </div>

  <div class="form-group">
    <label for="valid-from">Valid from:</label>
    <input id="valid-from" type="date"/>
  </div>

  <div class="form-group">
    <label for="valid-to">Valid to:</label>
    <input id="valid-to" type="date"/>
  </div>

  <div class="button-group">
    <button class="save-button" (click)="save()">Save</button>
  </div>
  
  <div *ngIf="actionMessage()" class="action-message">
    {{ actionMessage() }}
  </div>
</div>
