@if (visible() && involvedPerson() && utilityCostPayment(); as payment) {
  <div>
    <h2>Add a new utility cost payments for <b>{{ involvedPerson()?.name }}</b></h2>

    <div class="form-container">
      <div class="form-group">
        <label for="amount">Amount:</label>
        <input id="amount" type="number" [(ngModel)]="payment.amount" [disabled]="saving"/>
      </div>

      <div class="form-group">
        <label for="valid-from">Valid from:</label>
        <input id="valid-from" type="date" [(ngModel)]="payment.validFrom" [disabled]="saving"/>
      </div>

      <div class="form-group">
        <label for="valid-to">Valid to:</label>
        <input id="valid-to" type="date" [(ngModel)]="payment.validTo" [disabled]="saving"/>
      </div>

      <div class="button-group">
        <button class="save-button" (click)="save()">Save</button>
      </div>

      <div *ngIf="errorMessage()" class="error-message">
        {{ errorMessage() }}
      </div>
      <div *ngIf="actionMessage()" class="action-message">
        {{ actionMessage() }}
      </div>
    </div>
  </div>
}
