<h2>Add a new involved person</h2>
<div class="form-container">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" type="text" [(ngModel)]="involvedPerson.name"/>
  </div>

  <div class="form-group">
    <label for="start-of-involvement">Start of involvement:</label>
    <input id="start-of-involvement" type="date" [(ngModel)]="involvedPerson.startOfInvolvement"/>
  </div>

  <div class="form-group">
    <label for="end-of-involvement">End of involvement:</label>
    <input id="end-of-involvement" type="date" [(ngModel)]="involvedPerson.endOfInvolvement"/>
  </div>

  <div class="button-group">
    <button class="save-button" (click)="save()">Save</button>
  </div>
</div>

